/* Breackpoint from 769px to 1280px */

@media screen and (min-width: 769px) and (max-width: 1280px) {

    /* Style contact */
    .contact {
        display: flex;
        flex-direction: column;
        padding: 80px 18px;
        color: #54370D;
    }

    .contact-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contact-header img {
        width: 30px;
    }

    .contact-pp {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
    }

    .contact-pp>p {
        font-family: "palanquin";
        font-size: 15px;
        font-weight: 400;
        color: #54370D;
    }

    .contact-pp a {
        color: #4EA487;
    }

    .text {

        font-size: 24px;
        font-weight: 500;
        width: 48%;
    }

    .text input {
        border: none;
        border-bottom: 1px solid;
        width: 100%;
        outline-offset: 0;
    }

    .help-text{
        width: 100%;
    }

    .contact-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-button input {
        width: 140px;
        height: 50px;
        border-radius: 120px;
        background-color: white;

        font-family: "arima";
        font-size: 24px;
        font-weight: 700;
    }

    .contact-contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}