/* max Breakpoint 480px  */
@media screen and (max-width: 480px) {

    h2 {
        font-size: 2.5rem;
    }

    /* Style Highlights */

        .highlights {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .slider_a {
        position: relative;

        width: 100%;
        height: 530px;

        margin: 10px;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        overflow: hidden;       

    }

    .slider_a input{
        z-index: 2;
    }

    .slider_a_wrapper{
        z-index: 1;

        width: 300%;
        height: 100%;

        position: absolute;
        display: flex;

        transition: all 255ms ease-in-out;
    }

    .slider_a_element img {
        width: 100%;
        height: 100%;

        border-top-right-radius: 100px;
    }

    .slider_a_element  {
        width: calc(100% / 3);
        height: 100%;        
    }

    .slider_a input[value="ana"]:checked~.slider_a_wrapper {
        transform: translateX(calc(100% / 3));
    }

     .slider_a input[value="kevin"]:checked~.slider_a_wrapper {
        transform: translateX(0);
    }

     .slider_a input[value="chris"]:checked~.slider_a_wrapper {
        transform: translateX(calc(-100% / 3));
    }



    /* Style contact */

    .contact {
        display: flex;
        flex-direction: column;
        padding: 80px 18px;
        color: #54370D;
    }

    .contact-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contact-header>p {
        display: none;
    }


    .contact-header img {
        width: 30px;
    }

    .contact-pp {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .contact-pp>p {
        font-family: "palanquin";
        font-size: 15px;
        font-weight: 400;
        color: #54370D;
    }

    .contact-pp a{
        color: #4EA487;
    }

    .text {

        font-size: 24px;
        font-weight: 500;

    }

    .text input {
        border: none;
        border-bottom: 1px solid;
        width: 100%;
    }



    .contact-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-button input {
        width: 140px;
        height: 50px;
        border-radius: 120px;
        background-color: white;
        border-color: #737373;
        color: #737373;

        font-family: "arima";
        font-size: 24px;
        font-weight: 700;
    }

    .contact-contact{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}