/* Breakpoint from 1281px to openend  Dran Denken max width sind 1440px */

@media screen and (min-width: 1281px) {

     header {
        padding: 0px max(calc(50% - 720px));
    }



    /* Style FAQ */

    .faq {
        padding: 80px max(calc(50% - 720px));
    }

    .faq_section {
        width: 1200px;
    }

    h2 {
        font-family: "arima";
        font-size: 40px;
        font-weight: 700px;
        color: #4EA487;
    }



    /* Style contact */
    .contact {
        display: flex;
        flex-direction: column;
        padding: 120px max(calc(50% - 720px), 120px);
        color: #54370D;
        gap: 40px;
    }

    .contact-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contact-header img {
        width: 30px;
    }

    .contact-pp {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
    }

    .contact-pp>p {
        font-family: "palanquin";
        font-size: 15px;
        font-weight: 400;
        color: #54370D;
    }

    .contact-pp a {
        color: #4EA487;
    }

    .text {

        font-size: 24px;
        font-weight: 500;
        width: 48%;
    }

    .text input {
        border: none;
        border-bottom: 1px solid;
        width: 100%;
        outline-offset: unset;
    }

    .text>input:focus-visible {
        outline: none;
    }

    .help-text {
        width: 100%;
    }

    .contact-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-button input {
        width: 140px;
        height: 50px;
        border-radius: 120px;
        background-color: white;

        font-family: "arima";
        font-size: 24px;
        font-weight: 700;
    }

    .contact-contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mobile-menu-icons {
        display: none;
    }

     /* styling Footer */

    footer {
         padding: 60px max(calc(50% - 720px));
    }

    .mobile-menu-icons {
        display: none;
    }

      /* style Eigene Seite */

    .gl-start-section {
        padding: 0px max(calc(50% - 720px));
    }


    .Static_section {
        padding: 0px max(calc(50% - 720px));
    }

    .activ{
        padding: 0px max(calc(50% - 720px));
    }

    .share {
        padding: 80px max(calc(50% - 720px));
    }

}