/* max Breakpoint 480px  */
@media screen and (max-width: 480px) {
 HEAD

    h2 {
        font-size: 2.5rem;
    }

    .nav-links {
      display: none;  
    }
    nav{
        justify-content: center;
    }
    nav img{
        width: 50px;
    }

}
