/* Breackpoint from 481px to 768px */

@media screen and (min-width: 481px) and (max-width: 768px) {
   

    .p {
        font-size: 1.25rem;
    }

    .nav-links {
        display: none;
    }

    nav {
        justify-content: center;
    }

    nav img {
        width: 56px;
    }


    h2 {
        font-size: 2.5rem;
        font-family: "arima";
        font-weight: 700px;
        color: #4EA487;
    }

    /* Style Highlights */


    .highlights_header {
        padding: 0px 50px 80px 50px;
    }

    .slider_a_element {
        padding: 0px 50px;
    }

    /* Style FAQ */
    .faq_section {
        padding: 0px 50px;
    }

      summary {
        font-size: 1.25rem;
        padding-right: 45px;
    }

    summary::before {
        right: 3%;
    }

    details[open]>summary::before {
        right: 3%;
    }


    /* Style contact */

    .contact {
        display: flex;
        flex-direction: column;
        padding: 80px 120px;
        color: #54370D;
        gap: 40px;
    }

    .contact-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contact-header img {
        width: 30px;
    }

    .contact-pp {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .contact-pp>p {
        font-family: "palanquin";
        font-size: 15px;
        font-weight: 400;
        color: #54370D;
    }

    .contact-email {
        padding-top: 15px;
    }

    .contact-pp a {
        color: #4EA487;
    }

    .text {

        font-size: 24px;
        font-weight: 500;
        width: 100%;

    }

    .text input {
        border: none;
        border-bottom: 1px solid;
        width: 100%;
        outline-offset: 0;
    }

    .text>input:focus-visible {
        outline: none;
    }

    .contact-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-button input {
        width: 140px;
        height: 50px;
        border-radius: 120px;
        background-color: white;

        font-family: "arima";
        font-size: 24px;
        font-weight: 700;
    }

    .contact-contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* Style contact */


    .left-footer {
        flex-direction: column-reverse;
        gap: 6px;
    }

    .right_footer img {
        width: 33px;
    }

    footer {
        padding: 30px 24px;
        align-items: flex-end;
    }

    .mobile-menu-icons {
        width: 100%;
        background-color: rgba(241, 201, 83, 1);
        display: flex;
        justify-content: space-between;
        padding: 24px 35px;
    }

    /* style eigene Seite */
    .gl-preface{
        padding: 50px;
    }
     .gl-second-text{
        padding: 50px;
    }
    .gl-text-content{
        padding: 50px;
    }
    .gl-text-content-2{
        padding: 50px;
    }

    .gl-starttext {
        padding-right: 0px;

    }

    .gl-icon {
        gap: 10px;
    }

    .gl-preface {
        flex-direction: column;
    }

    .activ_section {
        flex-direction: column;
        gap: 40px;
    }

    .share {
        padding-top: 40px;
        padding-bottom: 120px;
    }
    .tipps-list{
        padding: 50px;
    }
    .tipps-img{
        margin-bottom: -5%;
    }

    /* Seite CHris */

    .Static_section {
        padding: 80px 40px;

    }

    .card_static {
        width: 100%;
    }

    .activ_card>img {
        width: 100%;
    }

    .slider {
        gap: 20px;
        justify-content: flex-start;
        padding-left: 230px;
    }


.slider img {
    width: 100%;
    max-width: 250px;

}


input[ type="radio"] {
    display: none;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.dots label {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgba(78, 164, 135, 0.3);

}

#s1:checked~.dots label[for="s1"],
#s2:checked~.dots label[for="s2"],
#s3:checked~.dots label[for="s3"],
#s4:checked~.dots label[for="s4"],
#s5:checked~.dots label[for="s5"] {
    background-color: rgba(78, 164, 135, 1);
    width: 25px;
    border-radius: 30%;
}

.viewport {
    overflow: hidden;
}

#s1:checked .slider {
    transform: translateX(0px);
}

#s2:checked~.viewport .slider {
    transform: translateX(-40%);
}

#s3:checked~.viewport .slider {
    transform: translateX(-80%);
}

#s4:checked~.viewport .slider {
    transform: translateX(-120%);
}

#s5:checked~.viewport .slider {
    transform: translateX(-160%);
}

#s1:checked~.viewport .slider img:nth-child(1),
#s2:checked~.viewport .slider img:nth-child(2),
#s3:checked~.viewport .slider img:nth-child(3),
#s4:checked~.viewport .slider img:nth-child(4),
#s5:checked~.viewport .slider img:nth-child(5) {
    transform: none;


}

#s2:checked~.viewport .slider img:nth-child(1),
#s3:checked~.viewport .slider img:nth-child(-n+2),
#s4:checked~.viewport .slider img:nth-child(-n+3),
#s5:checked~.viewport .slider img:nth-child(-n+4) {
    transform: perspective(300px) rotateY(15deg) translateX(-15px);

}


#element_a {
    transform: perspective(300px) rotateY(-15deg) translateX(-15px);
}

#element_b {
    transform: perspective(300px) rotateY(-15deg) translateX(-15px);
}

#element_c {
    transform: perspective(300px) rotateY(-15deg) translateX(-15px);
}

#element_d {
    transform: perspective(300px) rotateY(-15deg) translateX(-15px);
}

#element_e {
    transform: perspective(300px) rotateY(-15deg) translateX(-15px);
}


}