/* max Breakpoint 480px  */
@media screen and (max-width: 480px) {

    h2 {
        font-family: "arima";
        font-size: 40px;
        font-weight: 700px;
        color: #4EA487;
    }



    /* Style contact */

    .contact {
        display: flex;
        flex-direction: column;
        padding: 80px 18px;
        color: #54370D;
    }

    .contact-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contact-header>p {
        display: none;
    }


    .contact-header img {
        width: 30px;
    }

    .contact-pp {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .text {

        font-size: 24px;
        font-weight: 500;
        font-family: "palanquin";
    }



    .text input {
        border: none;
        border-bottom: 1px solid;
        overflow: hidden;
    }


}