* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

   h2 {
        font-family: "arima";
        font-size: 3.25rem;
        font-weight: bold;
        color: rgba(78, 164, 135, 1);

    }

header {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

p {
    font-family: 'Palanquin';
    color: rgba(61, 61, 61, 1);
    font-size: 1.5rem;

}

/* STyling Highlights globel */

.highlights_header{
    padding: 80px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.highlights_header div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.highlights_header img {
    width: 39px;
    height: 39px;

    padding: 3px;
}

/* Styling FAQ Globel */


.faq {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.faq_head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.faq_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}


